# PostgreSQL
POSTGRES_DB=pt_client
POSTGRES_USER=pt_user
POSTGRES_PASSWORD=secret

# URLs
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
SANCTUM_STATEFUL_DOMAINS=localhost:3000

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
